* {
    padding: 0;
    margin: 0;
}

/* nav styles start */
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin: 10px auto;
    padding-top: 10px;


}

ul {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 12px 0px;
    list-style: none;
    gap: 20px;

}

ul li a {
    text-decoration: none;
}

/* nav styles End */
.max-w {
    max-width: 1000px;
    background-color: white;

}

.common-bu {
    background-color: #1D4ED8;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #456ee0;
}

/* hero styles Start */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('../images/banner.jpg');
    background-size: cover;
    height: 1200px;
    width: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero-content {
    color: white;
}

.hero-content h1 {
    /* font-size: px; */
    margin-bottom: 50px;
    text-align: center;
    font-size: 100px;

}

.hero-content p {
    margin-top: 0;
    margin-bottom: 600px;
    font-size: 38px;


}

.hero-bu {
    display: flex;
    position: relative;
    top: 400px;
    right: 600px;
}

.meet {
    margin: 25px;

}

.img {
    display:flex;
    gap: 15px;
    width: 50px;
    height: 50px;
    justify-content: space-between; 
    
}
.color{
    color: #2563EB;
}
.color-two{
    color: #575757;
}
